.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(236, 236, 241);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    height: 80%;
    width: 75%;
  }