h2 {
    color: red;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
  }

  @supports (-webkit-text-stroke: 0.5px black) {
    h2 {
      -webkit-text-stroke: .5px black;
      -webkit-text-fill-color: red;
    }
  }

  @keyframes colorchange {
    0% {
      -webkit-text-stroke: 10px red;
    }
    100% {
      -webkit-text-stroke: 20px green;
    }
  }